* {
    margin: 0;
    padding: 0;
}

body {
    background: #FBFFFE;
}

/* LAYOUT RULES */

header {
    margin: 30px 0px 10px 0px;
    text-align:center
}

nav {
    background-color: #3D8697;
    margin: 5px 0 5px 0;
    text-align:center
}

article {
    
    background-color: white;
    margin: 0 40px 0 40px;
}

footer {
    padding: 10px 0 10px 0;
    background-color: #3D8697;
    text-align:center
}
    

/* HEADING RULES */

header h1 a {
    font-family: helvetica, arial, sans-serif;
    font-size: 55px;
    font-weight: lighter;
    
}

header h2 {
    font-family: helvetica, arial, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    color: #3D8697;
}

article h1 {
    background-color: #3D8697;
    margin: 15px 20px 15px 20px;
    font-family: helvetica, arial, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    
    
}


article h2 {
    margin: 0 30px 15px 30px;
    font-family: helvetica, arial, sans-serif;
    font-size: 26px;
    font-weight: lighter;
    
}

article h3 {
    margin: 0 35px 0 35px;
    font-family: "Helvetica Light", arial, sans-serif;
    font-size: 22px;
    font-weight: lighter;
    
}
    
header h1 a {
    color: #333333;
    text-decoration:none;
    font-weight: lighter;
}

header nav {
    padding: 10px 0 10px 0;
    color: #000000;
    text-decoration: none;

} 

header nav a {
    font-family: helvetica, arial, sans-serif;
    font-weight: lighter;
    font-size: 24px;
    

}
       
/* PARAGRAPH RULES */

article p {
    font: minion, serif;
    color: #595959;
    margin: 0 40px 0 40px;
    
    
}

/* LIST RULES */

article li {
    list-style-type: none;
    font: minion, serif;
    margin: 0 40px 2px 40px;

}

/* LINK RULES */

nav a:link, nav a:visited 
    padding: 0 16px;
    color: #000000;
    text-decoration: none;

}

nav a:hover, nav a:active {
    color: #FFFFFF;
    text-decoration: underline;
    
}

/* FOOTER RULES */


footer nav {
    margin-top: 0
}

footer a {
    color: #333333;
    margin-right: 20px;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;   
}

footer a:active {
    text-decoration: underline;
    
}
    
    
    
    

