* {
    margin: 0;
    padding: 0;
}

body {

}

/* LAYOUT RULES */

header {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align:center;

}

nav {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align:center;
    background-color: #FFFFFF;
    padding-bottom: 5px;
    
}

#container {
    clear:both;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0px;
}

section {
	clear: both;
	padding: 0px;
	margin: 0px;
}



#about p {
    font-family: "roboto slab", serif;
    color: #000000;
    font-size: 17px;
    line-height: 21px;
    font-weight: 300;
    
    
}    

footer {
    width: 100%;
    height: 250px;
    text-align:center;
    clear:both;
    background-color: #91B2CB;
    margin-bottom: 10px;

}
    

/* HEADER RULES */


header nav {
    text-decoration: none;
    color: #FFFFFF;

} 

header nav a {
    font-family: "oswald", sans-serif;
    font-weight: 300;
    font-size: 22px;
    margin: 10px 7px 0 7px;
    display: inline-block;    
    border: none;
    line-height: 30px;

}

/* SECTION RULES */



section h1 {
    text-align: center;
    margin-bottom: 15px;
    font-family: "oswald", sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #585858;
}
    
#work h1 {
    text-align: center;
    margin: 20px 0 20px 0;
    padding: 10px 0 10px 0;
    font-family: "oswald", sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: #585858;
    text-decoration: underline; 
    
}

section h2 {
    text-align: center;
    margin-bottom: 15px;
    font-family: "oswald", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #585858;    
    
    
}


section p {
    font-family: "roboto slab", serif;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;

}

/* COLUMN SETUP */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
    
}

.col:first-child {
    margin-left: 0;
}


/* GROUPING */

.group:before,
.group:after {
    
    content: "";
    display: table;
}

.group:after {
    clear: both;
}


/* GRID OF SIX */

.span_6_of_6 {
    width: 100%;
}


.span_5_of_6 {
    width: 83.06%;
}

.span_4_of_6 {
    width: 66.13%;
    
}

.span_3_of_6 {
    width: 49.2%;
}

.span_2_of_6 {
    width: 32.26%;

}

.span_1_of_6 {
    width: 15.33%;
}



/* GRID OF THREE */

.span_3_of_3 {
    width: 100%;

}

.span_2_of_3 {
    width: 66.13%;

}

.span_1_of_3 {
    width: 32.26%;
}


/* IMG AND VIDEO RULES */

.span_4_of_6 img {
    width: 100%;


}

.span_2_of_6 img {
    width: 100%;


}
.span_3_of_3 img {
    width: 100%;
    padding: 5px;
}

.span_2_of_3 img{
    width: 100%;
    padding: 5px;

}

.span_1_of_3 img{
    width: 100%;
    padding: 5px;
}

/* LINK RULES */

nav a:link, nav a:visited {
    padding: 0 16px;
    color: #585858;
    text-decoration: none;

}

nav a:hover, nav a:active {
    text-decoration: none;
    color:#585858;
    
}



/* FOOTER RULES */

footer h1 {
    text-align: center;
    margin: 5px 0 5px 0;
    padding: 20px 0 10px 0;
    font-family: "oswald", sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: #585858;    
    
    
}

footer p {
    font-family: "roboto slab", serif;
    color: #585858;
    font-size: 16px;
    line-height:16px;
    font-weight: 300;
    margin: 5px 0 5px 0;
}

footer a img {
    display:inline-block;
    margin: 0 5px 10px 5px;
    display: inline-block;    
    border: none;

}    

 
          