* {
    margin: 0;
    padding: 0;
}

body {

}

/* LAYOUT RULES */

header {
    width: 100%;
    margin-top: 5px;

    margin-bottom: 10px;

    text-align:center;

}

nav {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align:center;
    background-color: #FFFFFF;
    padding-bottom: 5px;
    
}

#container {
    clear:both;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0px;
}

#about {
    height: 50%;    
    
    
}    

footer {
    width: 100%;
    height: 200px;
    text-align:center;
    clear:both;
    background-color: #255C7D;

}
    

/* HEADER RULES */


header nav {
    text-decoration: none;
    color: #FFFFFF;

} 

header nav a {
    font-family: "oswald", sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin: 10px 7px 0 7px;
    display: inline-block;    
    border: none;
    background-color: none;
    line-height: 30px;

}

/* SECTION RULES */



section h1 {
    text-align: center;
    background-color: none;
    margin-bottom: 15px;
    font-family: "oswald", sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #333333;
}
  
section p {
    font-family: "roboto slab", serif;
    color: #000000;
    font-size: 16px;
    line-height:18px;
    font-weight: 300;

}

/* COLUMN SETUP */

.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
    
}

.col:first-child {
    margin-left: 0;
}


/* GROUPING */

.group:before,
.group:after {
    
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom:1; /* For IE 6/7 */
}

/* GRID OF SIX */

.span_6_of_6 {
    width: 100%;
}


.span_5_of_6 {
    width: 83.06%;
}

.span_4_of_6 {
    width: 66.13%;
    
}

.span_3_of_6 {
    width: 49.2%;
}

.span_2_of_6 {
    width: 32.26%;

}

.span_1_of_6 {
    width: 15.33%;
}



/* GRID OF THREE */

.span_3_of_3 {
    width: 100%;

}

.span_2_of_3 {
    width: 66.13%;

}

.span_1_of_3 {
    width: 32.26%;
}


/* IMG AND VIDEO RULES */

.span_4_of_6 img {
    width: 100%;

}

.span_2_of_6 img {
    width: 100%;

}
.span_3_of_3 img {
    width: 100%;

}

.span_2_of_3 img{
    width: 100%;

}

.span_1_of_3 img{
    width: 100%;

}

/* LINK RULES */

nav a:link, nav a:visited {
    padding: 0 16px;
    color: #36799B;
    text-decoration: none;

}

nav a:hover, nav a:active {
    background-color: none;
    text-decoration: none;
    color:#585858;
    
}



/* FOOTER RULES */

footer h1 {
    text-align: center;
    background-color: none;
    margin: 10px 0 10px 0;
    font-family: "oswald", sans-serif;
    font-size: 45px;
    font-weight: 400;
    color: #FFFFFF;    
    
    
}

footer p {
    font-family: "roboto slab", serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height:18px;
    font-weight: 300;
    margin: 5px 0 5px 0;
}

footer a img {
    display:inline-block;
    margin: 0 10px 10px 10px;
    display: inline-block;    
    border: none;

}    

/*  DO SOMETHING AT LESS THAN 960 PIXELS */
 
    


/*  GO FULL WIDTH AT LESS THAN 600 PIXELS */

@media only screen and (max-width: 600px) {
	.col { 
		margin: 1% 0 1% 0;
	}
    
    header {
        float: left;
    }
}

@media only screen and (max-width: 600px) {
    .span_6_of_6 {
		width: 100%; 
	}
	.span_5_of_6 {
		width: 100%; 
	}
	.span_4_of_6 {
		width: 100%;
	}
    .span_3_of_6 {
		width: 100%; 
	}
	.span_2_of_6 {
		width: 100%; 
	}
	.span_1_of_6 {
		width: 100%;
	}
    
    .span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}

    .span_4_of_6 img{
        width: 100%;

    }

}    