* {
    margin: 0;
    padding: 0;
}

body {
    background: #FBFFFE;
}

/* LAYOUT RULES */

header {
    margin: 30px 0px 0 0px;
    text-align:center
}

nav {
    margin: 0 0 5px 0;
    text-align:center
    
}

article {
    background-color: white;
    margin: 0 40px 0 40px;
    clear: both;
}

article h1 {
    text-align:center;
    
}

footer {
    padding: 10px 0 10px 0;
    background-color: none;
    text-align:center;
    clear:both;
}
    

/* HEADER RULES */

header h1 a {
    font-family: helvetica, arial, sans-serif;
    font-size: 55px;
    font-weight: lighter;
    
}

header h2 {
    font-family: helvetica, arial, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    color: #3D8697;
}


header h1 a {
    color: #333333;
    text-decoration:none;
    font-weight: lighter;
}

header nav {
    padding: 10px 0 10px 0;
    color: #000000;
    text-decoration: none;

} 

header nav a {
    font-family: helvetica, arial, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    display: inline-block;
    border: double;
    border-width: 5px;
    border-color: #595959;
    
    

}


/* ARTICLE RULES */


article h1 {
    background-color: #3D8697;
    margin: 15px 20px 15px 20px;
    font-family: helvetica, arial, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    
    
}


article h2 {
    margin: 0 30px 15px 30px;
    font-family: helvetica, arial, sans-serif;
    font-size: 26px;
    font-weight: lighter;
    
}

article h2 em {
    margin: 0 30px 15px 30px;
    font-family: helvetica, arial, sans-serif;
    font-size: 26px;
    font-weight: lighter;
    
}


article h3 {
    margin: 0 35px 0 35px;
    font-family: "Helvetica Light", arial, sans-serif;
    font-size: 22px;
    font-weight: lighter;
    
}
    
#left {
    float:left;
    width:550px;
    background-color:none;
    margin:10px 0 30px 10px;
    
}

#right{
    float:right;
    width:550px;
    background-color:none;
    margin: 10px 0 30px 10px;
}

article h1 a {
    font-weight:lighter;
    text-decoration:none;
    text-align:center;
    background-color: none;
}

aside {
    width: 45%;
    float: right;
    margin-left: 5%;
}


/* PARAGRAPH RULES */

article p {
    font: minion, serif;
    color: #595959;
    margin: 0 40px 0 40px;
}

/* LIST RULES */

article li {
    list-style-type: none;
    font: minion, serif;
    margin: 0 40px 2px 40px;

}

/* LINK RULES */

nav a:link, nav a:visited {
    padding: 0 16px;
    color: #000000;
    text-decoration: none;

}

nav a:hover, nav a:active {
    color: red;
    text-decoration: none;
    
}

/* FOOTER RULES */

footer a {
    clear:both;
    color: #333333;
    text-decoration: none;
}


    
    
    
    

