* {
    margin: 0;
    padding: 0;
}

body {

}

/* LAYOUT RULES */

header {
    width: 100%;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    text-align:center;

}

nav {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align:center;
    background-color: #FFFFFF;
    padding-bottom: 5px;
    
}


footer {
    width: 100%;
    text-align:center;
    clear:both;
    background-color: none;
}
    

/* HEADER RULES */


header nav {
    text-decoration: none;
    color: #FFFFFF;

} 

header nav a {
    font-family: "oswald", sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin: 10px 7px 0 7px;
    display: inline-block;    
    border: none;
    background-color: none;
    line-height: 30px;

}

/* ARTICLE RULES */

article {
    
    
    
}

article h1 {
    text-align: center;
    background-color: none;
    margin-bottom: 15px;
    font-family: "oswald", sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #333333;
}

#about {


}

aside {
    background-color: green;
    

}    

#work {
    background-color: orange;

    
}    

/* PARAGRAPH RULES */

article p {
    font-family: "roboto slab", serif;
    color: #000000;
    font-size: 16px;
    line-height:18px;
    font-weight: 300;

}

aside p {
    font-family: "roboto slab", serif;
    color: #000000;
    font-size: 16px;
    line-height:18px;
    font-weight: 300;    
}

footer p {
    font-family: "roboto slab", serif;
    color: #969696;
    font-size: 14px;
    line-height:14px;
    font-weight: 300;
}
    

/* LIST RULES */


/* IMG AND VIDEO RULES */


#about img {

  
}

#work img {

}

/* LINK RULES */

nav a:link, nav a:visited {
    padding: 0 16px;
    color: #36799B;
    text-decoration: none;

}

nav a:hover, nav a:active {
    background-color: none;
    text-decoration: none;
    color:#333333;
    
}



/* FOOTER RULES */

footer a {
    clear:both;
    color: #333333;
    text-decoration: none;
}

footer a img {
    display:inline-block;
    margin: 0 2px 2px 2px;
    display: inline-block;    
    border: none;

}    

  