* {
    margin: 0;
    padding: 0;
}

body {
    background: #DEDEE0;
}

/* LAYOUT RULES */

header {
    margin: 30px 0px 0 0px;
    text-align:center
}

nav {
    margin: 0 0 5px 0;
    text-align:center;
    
}

article {
    background-color: white;
    margin: 0 40px 0 40px;
}


footer {
    padding: 10px 0 10px 0;
    background-color: none;
    text-align:center;
    clear:both;
}
    

/* HEADER RULES */

header h1 a {
    font-family: helvetica, arial, sans-serif;
    font-size: 55px;
    font-weight: lighter;
    
}

header h2 {
    font-family: helvetica, arial, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    color: #3D8697;
}


header h1 a {
    color: #333333;
    text-decoration:none;
    font-weight: lighter;
}

header nav {
    text-decoration: none;
    color: #FFFFFF;

} 

header nav a {
    font-family: helvetica, arial, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin: 10px 7px 7px 10px;
    display: inline-block;    
    border: none;
    background-color: #595959;
    line-height: 30px
    

}


/* ARTICLE RULES */


article h1 {
    text-align:center;
    background-color: #91C3CF;
    margin: 15px 20px 15px 20px;
    font-family: helvetica, arial, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    
    
}


article h2 {
    margin: 0 30px 15px 30px;
    font-family: helvetica, arial, sans-serif;
    font-size: 26px;
    font-weight: lighter;
    
}

article h2 em {
    margin: 0 30px 15px 30px;
    font-family: helvetica, arial, sans-serif;
    font-size: 26px;
    font-weight: lighter;
    
    
}


article h3 {
    margin: 0 35px 0 35px;
    font-family: "Helvetica Light", arial, sans-serif;
    font-size: 22px;
    font-weight: lighter;
    
}


article h1 a {
    font-weight:lighter;
    text-decoration:none;
    text-align:center;
    background-color: none;
}

aside {
    width: 35%;
    float: right;
    
}

article #experience {
    width:65%;
    float:left;
}


/* PARAGRAPH RULES */

article p {
    font-family: minion, serif;
    color: #000000;
    margin: 0 40px 0 40px;
    font-size: px;
    line-height:25px;
}

footer p {
    font-family: minion, serif;
    color: #595959;
    margin: 0 40px 0 40px;
    font-size: 14px;
    line-height:14px;
}
    

/* LIST RULES */

article li {
    list-style-type: none;
    font-family: minion, serif;
    margin: 0 40px 2px 40px;
    font-size:20px;
    line-height: 25px;

}

/* LINK RULES */

nav a:link, nav a:visited {
    padding: 0 16px;
    color: #FFFFFF;
    text-decoration: none;

}

nav a:hover, nav a:active {
    background-color: #91C3CF;
    text-decoration: none;
    color:#000000;
    
    
}

/* FOOTER RULES */

footer a {
    clear:both;
    color: #333333;
    text-decoration: none;
}


    
    
    
    

