* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #CCCCCC;
    font-size: 16px;
    line-height: 24px;
}

/* LAYOUT RULES */

header {
    padding: 0.625em 5%;
    color: #3D8697;
    height: 40px;
}

nav {
    background-color: #3D8697;
    float: right;
    margin-top: 12px;
}

article {
    clear: both;
    padding: 0 10px 0 10px;
}

footer {
    padding: 0 10px 0 10px;
    background-color: #545CCC;
    color: #333333;
    height: 40px;
}

/* HEADING RULES */

header h1 {
    margin: 10px 0;
    float: left;
    font-family: "Helvetica Neue Light", arial, sans-serif;
    padding-bottom: 5px;
    font-size: 50px;
    font-weight: 500;
    padding: 10px;
   
}

header a {
    color: #333333;
    margin-right: 20px;
    text-decoration: none;
}

header a:hover {
    color: #ffffff;   
}
header a:active {
    text-decoration: underline;
}


article h1 {
    font-size: 36px;
    line-height: 44px;
    margin-top: 10px;
    font-weight: 400;
}

article h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 4px;
}

/* PARAGRAPH RULES */

article p {
    margin: 16px 0;
    font: "Minion Pro", serif;
    
    
}

/* LIST RULES */

article li {
    list-style-type: circle;
    margin-left: 24px;
    margin-bottom: 12px;

}

/* LINK RULES */

nav a:link, nav a:visited {
    font-size: 24px;
    font-weight: 400;
    padding: 0 16px;
    color: #000000;
    text-decoration: none;

}

nav a:hover, nav a:active {
    color: #FFFFFF;
    text-decoration: underline;
    
}

/* FOOTER RULES */


footer nav {
    float: left;
    margin-top: 12px;
}

footer a {
    color: #333333;
    margin-right: 20px;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;   
}

footer a:active {
    text-decoration: underline;
    
}
    
    
    
    

